.gallery {
	display: grid;
	grid-template-rows: 1fr auto;
	height: 100vh;
	width: 100vw;

	footer {
		display: flex;
		gap: 1rem;
		justify-content: center;
		padding: 1rem;

		.gallery-thumbnail-button {
			max-height: 20vh;

			&:after {
				display: none;
			}
		}
	}

	.gallery-image {
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
		margin: 1rem;
		z-index: 1;
	}
}

.gallery-preview {
	align-content: stretch;
	display: flex;
	flex-wrap: wrap;
	gap: $block-spacing;
}

.gallery-thumbnail-button {
	align-content: stretch;
	align-items: stretch;
	background-color: transparent;
	border: none;
	border-radius: $radius;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0);
	cursor: pointer;
	display: flex;
	height: 100%;
	min-height: 200px;
	min-width: 20vw;
	overflow: hidden;
	padding: 0;
	position: relative;
	transition-duration: 0.2s;
	transition-property: box-shadow, transform;
	z-index: 1;

	&:after {
		align-items: center;
		background-color: rgba(0, 0, 0, 0.5);
		bottom: 0;
		color: white;
		content: 'Click or tap to view the gallery';
		display: flex;
		font-family: inherit;
		font-size: inherit;
		justify-content: center;
		left: 0;
		opacity: 0;
		pointer-events: none;
		position: absolute;
		right: 0;
		top: 0;
		transition-duration: 0.2s;
		transition-property: opacity;
	}

	&:hover {
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
		transform: scale(1.1);
		z-index: 2;

		&:after {
			opacity: 1;
		}
	}
}

.gallery-thumbnail {
	background-position: center;
	background-size: cover;
	flex-grow: 1;
}
