$level-display-background-color: $background !default;
$level-display-color: $text !default;

$tag-colors: $colors !default;

.level-upper {
	align-items: center;
	justify-content: center;
	display: flex;

	&.is-fullwidth {
		justify-content: space-around;
	}

	.level-direction-indicator {
		margin: 0 1rem;
	}
}
