.range-slider {
	@mixin thumb() {
		background: currentcolor;
		border: none;
		border-radius: 0;
		pointer-events: auto;
		width: var(--range-slider-height);
		height: var(--range-slider-height);
	}

	@mixin track() {
		background: none;
		height: 100%;
		width: 100%;
	}

	--range-slider-height: 1em;

	/* same as before */
	background: linear-gradient(0deg, #ccc var(--range-slider-height), transparent 0);
	display: grid;
  grid-template-rows: max-content var(--range-slider-height);
	position: relative;
  margin: 1em auto;
	width: 100%;

	input[type=range] {
		background: none;
		color: #000;
		font: inherit;
		grid-column: 1;
		grid-row: 2;
		margin: 0;
		pointer-events: none;

		&,
		&::-webkit-slider-runnable-track,
		&::-webkit-slider-thumb {
			-webkit-appearance: none;
		}

		&::-webkit-slider-runnable-track { @include track }
		&::-moz-range-track { @include track }

		&::-webkit-slider-thumb { @include thumb }
		&::-moz-range-thumb { @include thumb }
	}












	// & &-bar {
	// 	background-color: lightgrey;
	// 	height: 0.2em;
	// 	position: absolute;
	// 	top: 50%;
	// 	transform: translateY(-50%);
	// 	width: 100%;
	// }

	// & &-current {
	// 	background-color: blue;
	// 	height: 0.2em;
	// 	position: absolute;
	// 	top: 50%;
	// 	transform: translateY(-50%);
	// }

	// & &-thumb {
	// 	--thumb-size: 1em;

	// 	position: absolute;
	// 	top: 50%;
	// 	transform: translate(-50%, -50%);

	// 	&:after {
	// 		background-color: white;
	// 		border-color: blue;
	// 		border-style: solid;
	// 		border-radius: 50%;
	// 		border-width: 0.3em;
	// 		content: '';
	// 		display: block;
	// 		height: var(--thumb-size);
	// 		left: 50%;
	// 		position: absolute;
	// 		top: 50%;
	// 		transform: translate(-50%, -50%);
	// 		width: var(--thumb-size);
	// 	}
	// }

	& &-marks {
		--mark-height: 0.5em;

		display: flex;
		font-size: 0.7em;
		justify-content: space-around;
		list-style: none;
		transform: translateY(calc((var(--mark-height) + 0.2em) * -1));
		width: 100%;

		li {
			background-color: lightgrey;
			height: var(--mark-height);
			position: relative;
			width: 1px;

			&:after {
				bottom: 100%;
				content: attr(data-value);
				left: 50%;
				transform: translateX(-50%);
				position: absolute;
			}
		}
	}
}
